@using System
@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h4>Во время обработки вашего запроса произошла ошибка</h4>
    }
    else
    {
        <h4>@ViewBag.ErrorMessage</h4>
    }
}