@model bool

@{
    ViewBag.Title = "Подтверждение исполнителя";
}

<h2>@ViewBag.Title</h2>

@if (Model)
{
    <h4 class="text-success">@ViewBag.Message</h4>
}
else
{
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
}