@model FollowTheTask.Models.Quests.QuestModel
           
@if (Model != null)
{
    <script>
        function onDeleteSuccess() {
            if ($('#tempdiv')[0].innerText == 'Подзадача удалена') {
                document.location.href = '@Url.Action("TasksDetails", "Managers",
                        new {username = ViewBag.UserName, id = Model.TrackedTask.Id}, null)';
            }
        }
    </script>

    if (Model.Id == -1)
    {
        <span class="text-danger">Подзадача удалена</span>
    }
    else
    {
        <h4>Вы уверены что хотите удалить эту подзадачу?</h4>

        <div class="form-horizontal col-md-offset-2">
            <div>
                @using (Ajax.BeginForm("QuestsDelete", "Managers", new {username = User.Identity.Name, taskId = Model.TrackedTask.Id, id = Model.Id}, new AjaxOptions {UpdateTargetId = "tempdiv", OnSuccess = "onDeleteSuccess"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <input type="submit" value="Удалить" class="btn btn-primary" />
                        <input type="button" value="Отменить" class="btn btn-default" onclick=" $('#tempdiv')[0].innerHTML = '' "/>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}