@model FollowTheTask.Models.TrackedTasks.TrackedTaskModel

@if (Model != null)
{
    <script>
        function onDeleteSuccess() {
            if ($('#tempdiv')[0].innerText == 'Задача удалена') {
                document.location.href = '@Url.Action("TasksIndex", "Managers",
                    new { username = Model.Manager.UserName }, null)';
            }
        }
    </script>

    if (Model.Id == -1)
    {
        <span class="text-success">Задача удалена</span>
    }
    else
    {
        <h4>Вы уверены что хотите удалить эту задачу?</h4>

        <div class="form-horizontal col-md-offset-2">
            <div>
                @using (Ajax.BeginForm("TasksDelete", "Managers", new {username = Model.Manager.UserName, id = Model.Id},
                    new AjaxOptions { UpdateTargetId = "tempdiv", OnSuccess = "onDeleteSuccess" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <input type="submit" value="Удалить" class="btn btn-primary" />
                        <input type="button" value="Отменить" class="btn btn-default" onclick=" $('#tempdiv')[0].innerHTML = '' "/>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}