@model HandleErrorInfo

@{
    ViewBag.Title = "Account locked out";
}

<hgroup>
    <h1 class="text-danger">Your account has been locked out.</h1>
    <h2 class="text-danger">Please, try again later.</h2>
</hgroup>