@model FollowTheTask.BLL.Services.Team.ViewModels.TeamInfoViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>List of features</h2>

@Html.Action("GetTeamFeatures")

<h2>Members</h2>

@Html.Action("GetTeamMembers")
