@model IEnumerable<FollowTheTask.BLL.Services.Issue.ViewModels.IssueViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>List of issues for team</h2>

@if (Model != null && Model.Count() != 0)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr class="row">
                    <th class="col-md-3">Issue</th>
                    <th class="col-md-3">Assignee</th>
                    <th class="col-md-3">Leader</th>
                </tr>
                @foreach (var team in Model)
                {
                    <tr class="row">
                        <td col-md-3>@team.Name</td>
                        <td col-md-3>@team.ReporterName</td>
                        <td col-md-3>@team.DeadlineDateUtc</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <h3>No issues found!</h3>
}