@model bool

@{
    ViewBag.Title = "Confirm Email";
}

<h1>Подтверждение e-mail адреса</h1>

@if (Model)
{
    <div class="col-md-12 col-xs-12">
        Спасибо, что подтвердили свой e-mail.
        @Html.ActionLink("Нажмите сюда, чтобы войти.", "Login", "Account", null, new { id = "loginLink" })
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="text-danger">E-mail не подтвержден.</h3>
            Нажмите на кнопку, если вам не пришло письмо, или ссылка в письме не сработала.
        </div>
    </div>
    using (@Html.BeginForm("ConfirmEmail", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="userId" value="@ViewBag.UserId" />

        <div class="row form-group">
            <div class="col-md-2 col-xs-6">
                <input type="submit" value="Отправить новый" class="btn btn-block btn-default" />
            </div>
        </div>
    }
}
