
@{
    ViewBag.Title = "Главная";
}

<h2>Вы ищете себе работу? Или сами хотите стать начальником?</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Путь менеджера</h2>
        <ol>
            <li>
                Регистрация
                <div class="checkbox">
                    <input type="checkbox" checked="checked" disabled="disabled">
                    <label>Менеджер</label>
                </div>
            </li>
            <li>
                Поиск работников
            </li>
            <li>
                Отправка запроса на сотрудничество
            </li>
            <li>
                Ожидание подтверждения
            </li>
            <li>
                Взаимодействие
                <ul>
                    <li>Создание задач и подзадач</li>
                    <li>Назначение исполнителя</li>
                    <li>Контроль выполнения</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="col-md-6">
        <h2>Путь исполнителя</h2>
        <ol>
            <li>
                Регистрация
                <div class="checkbox">
                    <input type="checkbox" checked="checked" disabled="disabled">
                    <label>Работник</label>
                </div>
            </li>
            <li>
                Поиск менеджера
            </li>
            <li>
                Отправка запроса на сотрудничество
            </li>
            <li>
                Ожидание подтверждения
            </li>
            <li>
                Взаимодействие
                <ul>
                    <li>Своевременное выполнение подзадач</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

